html{
    background:#222;
    margin: auto;
    width: 640px;
    height: 480px;
}
body{
    background: linear-gradient(#aaa 0, #ddd 10px, #fff 5px);
    border: 1px solid black;
    padding: 10px 20px;
    box-shadow: 5px 0px 30px #000;
    border-radius: 8px;
}

#imatges{
    position:relative; top:-370px; left: 320px; 
}